.schedule {
  background: var(--night);
  color: #fbfdfb;
  padding: 0 62px;
  height: 100vh;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 0;
  background-position: calc(50% - var(--parallax-offset, 0px)) bottom;
}

.scheduleContent {
  max-width: 640px;
  h2 {
    color: #FBFDFC;
    opacity: 0.5;
    text-align: left;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
.travelInfo {
  padding: 185px 0 350px 0;
}
.section {
  position: relative;
}
@media (max-width: 1023px) {
  .schedule {
    padding: 0 58px;
    justify-content: flex-start;
    background-size: cover;
    background-position: calc(10% - var(--parallax-offset, 0px)) bottom;
  }
  .scheduleContent {
    padding: 98px 0 0 0;
    li {
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}