.schedule {
  position: relative;
  overflow: hidden;
  background-color: var(--night);
  color: #fbfdfb;
  padding: 0 62px;
  height: 100vh;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.parallaxBg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12%;
  width: 124%;
  z-index: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 86%;
  background-position: center bottom;
  will-change: transform;
  // transform: translate3d(calc(-1 * var(--parallax-offset, 0px)), 0, 0);
  backface-visibility: hidden;
}

.scheduleContent {
  position: relative;
  z-index: 1;
  max-width: 640px;
  padding-right: 150px;
  h2 {
    color: #FBFDFC;
    opacity: 0.5;
    text-align: left;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
.travelInfo {
  padding: 185px 0 350px 0;
}
.section {
  position: relative;
}
@media (max-width: 1350px) {
  .parallaxBg {
    background-size: cover;
  }
}
@media (max-width: 1023px) {
  .schedule {
    padding: 0 58px;
    justify-content: flex-start;
  }
  .parallaxBg {
    background-position: left bottom;
    width: 300%;
  }
  .scheduleContent {
    padding: 98px 0 0 0;
    li {
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}