.container {
  padding: 0 78px 0 100px;
  width: 100%;
}
.section {
  width: 100%;
}
.sectionDress {
  padding: 100px 0 0 0;
  background-color: #E2DBD2;
  h2 {
    color: #2B312F;
    opacity: 0.5;
  }
}
.info {
  flex: 1;
  padding: 80px 0;
  align-self: flex-start;
}

.dressGrid {
  display: flex;
  gap: 84px;
  align-items: center;
}

.palette {
  display: flex;
  gap: 22px;
  margin-top: 118px;
  justify-content: center;

  span {
    width: 70px;
    height: 94px;
    &:nth-child(odd) {
      animation: odd 9s infinite linear ;
    }
    &:nth-child(even) {
      animation: even 9s infinite linear;
    }
  }
}
@keyframes odd {
  0% {
    transform: translateY(0px);
  } 25% {
    transform: translateY(16px);
  } 75% {
    transform: translateY(-16px);
  } 100% {
    transform: translateY(0px);
  }
}
@keyframes even {
  0% {
    transform: translateY(0px);
  } 25% {
    transform: translateY(-16px);
  } 75% {
    transform: translateY(16px);
  } 100% {
    transform: translateY(0px);
  }
}
.blockImageWrapper {
  position: relative;
  height: 915px;
  width: 610px;
  overflow: hidden;
  margin-bottom: -155px;
  z-index: 2;
  img {
    transition: all .3s ease;
  }
}
.activeImageWrapper {
  position: relative;
  img {
    transform: scale(1.05);
  }
}
@media (max-width: 1023px) {
  .dressGrid {
    flex-direction: column-reverse;
    padding: 0;
    gap: 0;
  }
  .sectionDress {
    padding-top: 0;
    .blockImageWrapper {
      max-width: 370px;
      width: calc(100% - 32px);
      height: auto;
      margin-bottom: -16px;
      padding-top: 150%;
    }
    p {
      padding: 0 32px;
    }
    .info {
      padding: 80px 0 72px 0;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .palette {
      margin-top: 63px;
    }
  }
}