:root {
  --paper: #fbfdfc;
  --ink: #2b312f;
  --muted: rgba(43, 49, 47, 0.6);
  --forest: #5b6e59;
  --cream: #f6f6eb;
  --night: #100d1b;
  --screen-min: 320px;
  --screen-small: 600px;
  --screen-medium: 1024px;
  --screen-max: 1300px;

  --media-min: calc(screen-min - 1px);
  --media-small: calc(screen-small - 1px);
  --media-medium: calc(screen-medium - 1px);
  --media-max: calc(screen-max - 1px);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--paper);
  color: var(--ink);
  font-family: var(--font-source-serif-4), serif;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: "Source Serif 4";
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
  scroll-behavior: smooth;
}
body {
	line-height: 1;
  scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h2 {
  color: #2B312F;
  text-align: center;
  font-family: "Source Serif 4";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
p {
  color: #2B312F;
  text-align: center;
  font-family: "Source Serif 4";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1023px) {
  h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}