.container {
  min-height: 100vh;
  width: 100%;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 0;
  background-position: calc(50% - var(--parallax-offset, 0px)) bottom;
  padding-top: 111px;
  display: flex;
  justify-content: center;
  div {
    h2 {
      opacity: 0.5;
    }
    max-width: 1040px;
  }
}
@media (max-width: 1023px) {
  .container {
    padding: 53px 32px 0 32px;
    background-size: cover;
    background-position: calc(10% - var(--parallax-offset, 0px)) bottom;
  }
}